*{
    font-family: 'Lato', sans-serif;
}
#logo {
    font-weight: 900;
    letter-spacing: 0.5rem;
}

  /* FOOTER */
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  label>span {
    font-weight: 400;
    color: black;
  }

  .strike {
    text-decoration: line-through;
    color: red;
  }


  .mt10 {margin-top: 10px!important;}

  .m0 {margin: 0!important;}
  .ms1 {margin: 0 2px!important;}
  .ms2 {margin: 0 4px!important;}
  .ms3 {margin: 0 6px!important;}
  .ms4 {margin: 0 8px!important;}
  .ms5 {margin: 0 20px!important;}
  
  .ml1 {margin-left: 2!important;}
  .ml2 {margin-left: 6!important;}
  .ml3 {margin-left: 10!important;}
  .ml4 {margin-left: 14!important;}
  .ml5 {margin-left: 18!important;}

  .ps1 {padding: 0 2px!important;}
  .ps2 {padding: 0 4px!important;}
  .ps3 {padding: 0 6px!important;}
  .ps4 {padding: 0 8px!important;}
  .ps5 {padding: 0 10px!important;}
  
  .pl0 {padding-left: 0!important;}
  .p0 {padding: 0!important;}

  .l-font {
    font-size: 2rem;
    margin-left: 0.5rem;
    letter-spacing: 0.3rem;
  }

  .greet {
    font-size: 2rem;
    letter-spacing: 0.1rem;
    font-weight: 700;
  }

  .round {
    border-radius: 10px;
  }

  .dinlineblock {
    display: inline-block;
  }

  .line-height-1{
    line-height: 2;
  }

  .strike {
    text-decoration: line-through;
    color: red;
  }